{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid">

<h2>Sporta-publicus</h2><br>
<h4>Partagez votre passion !</h4>
<br>


{#
<p>{{ app.user.firstName }} a partagé ce programme : </p>
 {{ app.user.program }} 
 #}


{# COMMENT SECTION #}

{{ form_start(post_form) }}

{{ form_widget(post_form) }}

{{ form_end(post_form) }}


</div>
{% endblock %}
